*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(15, 15, 15);
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px;
}

.box p{
    padding: 15px;
    width: 60%;
    font-size: 17px;
}

.titulo{
    padding-left: 30px;
    text-align: center;
    color: rgb(255, 215, 130);
    font-size: 25px;
}

#h1{
    width: 15%;
    
}

header .menu{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  rgb(15, 15, 15);
}

header .menu li{
    display: inline-block;
}

header .menu a{
    color: rgb(255, 215, 130);
    padding: 10px 15px;
    border-radius: 3px;
    transition: 200ms;
}

header ul{
    margin-right: 50px;
}

header .menu .ativo, header .menu ul a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 215, 130);
}

header a{
    text-decoration: none;
}


em strong{
    color: rgb(255, 215, 130);
    font-size: large;
}
#banner{
  margin-top: 10%;
  margin-left: 20%;
  width: 60%; 
  height: 25vw;
  box-shadow: 2px 2px 4px 1px rgba(255, 215, 130);
  margin-bottom: 20px;
  border-radius: 10px;
 
}

.box2{  
    background-color: rgba(255, 215, 130, .9);
    width: 100%;
    height: 35vw;
    margin: 30px 0;
    padding: 15px;
}

#h3{
    color:rgb(15, 15, 15);
    padding: 30px;
}

.box2 ul{
    display: inline-block;
    vertical-align: top;
    margin: 3% 15% 0 15%;
    padding: 15px;
    width: 20%;
    background-color: rgb(255, 215, 130);
    border-radius: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.itens{
    list-style: none;
    padding: 5px;
    color: rgb(15, 15, 15);    
}

#foto2{
    border: 5px solid rgb(255, 215, 130);
    border-radius: 30px;
    width: 40%;
    height: 50vh;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    color: rgb(255, 215, 130);
}