*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    color: seashell;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

header .menu{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  rgb(0, 0, 0);
}

header .menu li{
    display: inline-block;
}

header .menu a{
    color: rgba(255, 215, 130, .5);
    padding: 10px 15px;
    border-radius: 3px;
    transition: 200ms;
}

header ul{
    margin-right: 50px;
}

header .menu .ativo{
    background-color: rgba(255, 215, 130, .5);
    color: black;
}

header .menu ul a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 215, 130);
    transition: 1s;
}

header a{
    text-decoration: none;
}

.box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em 0 1em 0;
    
}

.box p{
    padding: 1em;
    width: 60%;
    font-size: 1.1em;
    text-align: justify;
}

.titulo{
    padding: 3em 0;
    text-align: center;
    color: rgb(255, 215, 130);
    font-size: 1.8em;
}

#h1{
    width: 15%;
    font-size: 1.5em;
    color: rgba(255, 215, 130, .5);
    padding-left: 1em;
}

#h1:hover{
    color: rgb(255, 215, 130);
    transition: 1s;
}

#utens{
    float: left;
    margin: -2em 1.5em 0 0; 
}

#utens:hover{
    transform: rotate(3600deg);
    transition: 3s;
}

strong{
    color: rgb(255, 215, 130, .5);
}

strong:hover{
    color: rgb(255, 215, 130);
    transition: 1s;
}

#banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, .8)),  url('https://raw.githubusercontent.com/Rafalesson/barbeariaCamarada/main/IMG/banner-barber.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 7%;
  margin-left: 20%;
  width: 60%; 
  height: 25vw;
  box-shadow: 2px 2px 4px 1px rgba(255, 215, 130, .5);
  margin-bottom: 1em;
  border-radius: 10px;
 
}

.mapa{
    width: 100%;
    padding: 3em 0;
    margin: 0 auto;
    background: linear-gradient(black, rgb(255, 215, 130));
}

.mapa p{
    margin: 0 0 3em 0;
    text-align: center;
}

.map{
    width: 60%;
    margin: 0 auto;
}

.map iframe{
    border-radius: 1em;
}

.box2{  
    background: linear-gradient(rgb(255, 215, 130), black); 
    width: 100%;
    height: 80vh;
    margin: 0 auto;
}

#h3{
    padding: 2em 0 0 0;
    color: black;
    text-align: center;
    font-size: 1.5em;
}

.conteudo{
    display: flex;
    width: 100%;
    height: 78vh;
}

.box2 ul{
    padding: 1em;
    width: 25%;
    height: 55%;
    margin: 5em auto 0 auto;
    background-color: rgb(255, 215, 130);
    border-radius: 1em;
    box-shadow: 2px 2px 5px 1px rgb(0, 0, 0);
}

.box2 ul:hover{
    transform: scale(1.1);
    transition: 1s;
}

.itens{
    font-size: 1em;
    list-style: none;
    padding: .25em;
    color: rgb(15, 15, 15);    
}

.itens:nth-child(2n){
    background-color: rgba(0, 0, 0, .9);
    color: rgb(255, 215, 130); 
} 
/* pseud0-elemento. nesse caso, estou selecionando o segundo elemento da classe .itens e aplicando a mesma modificação para todos os elementos pares da classe*/

 .video{
    width: 30%;
    height: 55%;
    margin: 5em auto 0 auto;
    border-radius: 1em;
}

.video:hover{
transform: scale(1.3);
transition: 1s;
}

#foto2{
    border: 5px solid rgba(0, 0, 0, 0.1);
    margin: 5em auto 0 auto;
    border-radius: 1em;
    width: 25%;
    height: 60%;
    box-shadow: 2px 2px 5px 1px rgb(0, 0, 0);
}

#foto2:hover{
    transform: scale(1.1);
    transition: 1s;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    color: rgb(255, 215, 130);
    background-color: rgb(0, 0, 0);
}

.titulo:before{
    content: '[ ';
}

.titulo:after{
    content: ' ]';
}

.itens::before{
    
}