*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    padding-left: 30px;
    width: 15%;
    text-align: center;
    color: rgb(255, 215, 130);
    font-size: 25px;
}

header .menu{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  rgb(15, 15, 15);
}

header .menu li{
    display: inline-block;
}

header .menu a{
    color: rgb(255, 215, 130);
    padding: 10px 15px;
    border-radius: 3px;
    transition: 200ms;
}

header ul{
    margin-right: 50px;
  
}

header .menu .ativo, header .menu ul a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 215, 130);
}

header a{
    text-decoration: none;
}